<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Primeiro Aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Primeiro Aplicativo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Primeiro app do Thiago Gouvêa</strong>
    <br>
    <br>
    <p><ion-button>Default</ion-button> <ion-button [disabled]="true">Disabled</ion-button></p>
    <br>
    <p><ion-icon name="logo-ionic" size="large" color="primary"></ion-icon><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> UI Components </a><ion-icon name="logo-ionic" size="large" color="primary"></ion-icon></p>
  </div>
</ion-content>
